body {
  margin: none;
}

div {
  margin-top: 40vh;
}

p {
  font-size: 72px;
  font-family:  Montez, cursive;
  letter-spacing: 1px;
  color: yellow;
  text-align: center;
  line-height: .05em;
}

img {
  margin-top: none !important;
  position: absolute;
  top: 50px;
  max-width: 100%;
  height: auto;
}

.mobile-only {
  display: none;
}

@media only screen and (max-width: 768px) {
  body {
    background-color: black;
  }

  .mobile-only {
    display: block;
  }

  .desktop-only {
    display: none;
  }
}
